body {
    background-color: #0f1218;
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 15px;
}

header { text-align: center; margin-bottom: 20px; }
h1 { color: #f3ad2a; font-size: 1.4rem; margin: 0; }
p { color: #777; font-size: 0.8rem; }

.deck-card {
    background: #1c232e;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #2c3440;
}

.deck-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.winrate { color: #2ecc71; font-weight: bold; }

.cards-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
    margin-bottom: 15px;
}

.card-img {
    width: 100%;
    border-radius: 6px;
    display: block;
    background: #000; /* Фон пока грузится */
}

.copy-button {
    background: #007bff;
    color: white;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
}

.copy-button:active { background: #0056b3; }
